@import "./reset.css";

.main {
  /* position: relative; */
}

header {
  background-color: red;
  position: fixed;
}

.section-A {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
