body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color);
}

.wrapper {
  position: relative;
  width: 66rem;
  height: 45rem;
}

.cover {
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--cover-color);
  box-shadow: var(--box-shadow);
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  transform-origin: right;
}

/* 이거 없으면? */
.cover.cover-left {
  z-index: -1;
}

.cover.cover-right.turn {
  transform: rotate(180deg);
}
